# Blacklist everything
*
# Whitelist all directories
!*/
# Whitelist the file you're interested in.
!*.c
!*.sh
!*.cpp
!*.h
!*.hpp
!*.md
!*.txt
!*.pdf
!*.png
!*.fdf
!*.xlsx
!*.xpm
!*.cub
!*.yml
!*.json
!*.csv
!Makefile
!.gitignore
!.clang-format
!.env
!.clang-format-norme
!.clang-format-cpp
